# ignore all .a files
*.db

# ignore .env
.env
config.json

# ignore all files in any directory named build
/node-modules
/node_modules
/discordself
/twitchbot/node_modules
/discord-bot/node_modules
/blackjack/node_modules
/discordself/node_modules