<!DOCTYPE html>
<html>
  

<head>
<link rel="stylesheet" href="/public/css/friendo.css">
</head>

<body>
<div id="friendo-container">
  <div id="success-box">
    <div class="face">
      <div class="eye"></div>
      <div class="eye right"></div>
      <div class="mouth happy"></div>
    </div>
    <div class="shadow scale"></div>
    <div class="message"><h1 class="alert">yes yes!</h1></div>
  </div>
  </div>
</div>
 </body> 
</html>