<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3" >
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Now Spinning</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Lato:400,700');
        
        html {
        }
        
        body {
            overflow: hidden;
            font-family: 'Press Start 2P', cursive !important; /* Retro, pixelated font */
          text-transform: uppercase;
          text-align: center;
        }
        
        h1 {
          font-size: 4em;
          font-weight: 100;
          letter-spacing: 3px;
          padding-top: 40px;
          color: #A9A9A9;
          text-transform: uppercase;
          margin-bottom: 0px;
          margin-top: 10px;
          font-style: italic;
        }
        
        p {
            margin-top: 0px;
            margin-bottom: 5px;
          font-size: 2em;
          font-weight: 100;
          color: #A9A9A9;
          letter-spacing: 1px;
          font-style: italic;
        /*  animation: bounce 1s ease-in infinite;*/
        }
        
        /*@keyframes bounce {
          50% {
             transform: translateY(-10px);
          }
        }*/
        
        </style>
        
        
        
</head>
<body>
    <p>Last Spinner</p>
    <h1><%= username %></h1>
</body>
</html>