<!-- views/layout.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/public/css/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <a href="/" id="logo">publicaccess.tv</a>
                <!-- <a href="/watch" class="activePage">Watch</a>
                <a href="/spin" class="inactivePage">Spin</a> -->
            </div>
            <div class="navbar-right">
                <% if (!user) { %>
                    <a href="/login">Sign In</a>
                <% } else { %>
                    <div class="avatar">
                        <a href="/u/<%= user %>/wheel"><img src="/public/star.gif" alt="User Avatar"></a>
                    </div>
                <% } %>
                

            </div>
        </nav>
    </header>

</body>
</html>
