<!-- views/layout.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/wheel.css">
    <link rel="stylesheet" href="/public/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <a href="/" id="logo">publicaccess.tv</a>
                <a href="/watch">Watch</a>
                <a href="/spin">Spin</a>
            </div>
            <div class="navbar-right">
                <a href="/signin">Sign In</a>
                <div class="avatar">
                    
                    <img src="/public/giphy.gif" alt="User Avatar">
                </div>
            </div>
        </nav>
    </header>
    
    <main>
        <%- body %>
    </main>

</body>
</html>
