<!-- views/layout.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/public/css/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <a href="/" id="logo">publicaccess.tv</a>
                <a href="/" class="activePage">📺</a>
                <% if (typeof user == 'undefined' || !user) { %>
                <a href="/login" class="inactivePage"><img src="/public/img/star.gif" height="16px" width="auto"></a>
                <% } else { %>
                <a href="/u/<%= user %>/wheel" class="inactivePage"><img src="/public/img/star.gif" height="16px" width="auto"></a>
                <% } %>
                <a href="/info" class="inactivePage">📄</a>
                <a href="/shop" class="inactivePage">🏪</a>
                <a href="/rankings" class="inactivePage">🏆</a>
                <a href="https://jellyfin.houseplants.cc/" class="inactivePage"><img src="/public/img/jellyfin.png" height="16px" width="auto"></a>
                <a href="https://discord.gg/publicaccess" class="inactivePage"><img src="/public/img/discord.png" height="16px" width="auto"></a>
                <a href="https://twitch.tv/publicaccess_ttv" class="inactivePage"><img src="/public/img/twitch.png" height="16px" width="auto"></a>
            </div>
            <div class="navbar-right">
                <% if (typeof user == 'undefined' || !user) { %>
                    <a href="/login" class="inactivePage">Sign In</a>
                <% } else { %>
                    <div class="avatar">
                        <form action="/logout" method="POST" style="display: inline;">
                            <button class="link-button" type="submit">Log Out</button>
                        </form>
                        <a href="/u/<%= user %>/wheel"><img src="/public/img/avatar.png" alt="User Avatar"></a>
                    </div>
                <% } %>
                

            </div>
        </nav>
    </header>

</body>
</html>
