<!-- views/wheel.ejs -->
<link rel="stylesheet" href="/public/css/wheel.css">
<div id="jackpot">
  <h1 class="neon" data-text="U"><span class="flicker-slow">J</span>A<span class="flicker-fast">C</span>KP<span class="flicker-slow">O</span><span class="flicker-fast">T</span><br><br> PAT <span id="jackpotTotal">?</span></h1>
</div>
<div id="wheel">
  <div class="wheel-container">
    <canvas id="wheelCanvas" width="500" height="500"></canvas>
    <div id="resultContainer">
        <span id="resultText"></span>
    </div>
  </div>
</div>
  <script src="http://localhost:3000/public/publicwheel.js"></script>
