<!-- views/wheel.ejs -->
<link rel="stylesheet" href="/public/css/wheel.css">
<div id="wheel">
  <div class="wheel-container">
    <canvas id="wheelCanvas" width="500" height="500"></canvas>
    <div id="resultContainer">
        <span id="resultText"></span>
    </div>
  </div>
</div>
  <script src="http://localhost:3000/public/publicwheel.js"></script>
