<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolve Discord Account Conflict</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
    </style>
</head>
<body>
    <div class="container">
        <h1>Resolve Account Conflict</h1>
        <p>Discord user <strong><%= discordUsername %></strong> is already associated with an existing account.</p>
        <p>Would you like to merge this account with your current account: <strong><%= currentUserUsername %></strong>?</p>
        <p>Your <strong>PAT <%= existingPAT %></strong> will be transferred to the this account.</p>

        <form id="resolveConflictForm" action="/merge-accounts-discord" method="post">
            <input type="hidden" name="decision" value="yes">
            <button type="submit">Yes, merge accounts</button>
        </form>

        <form id="cancelMergeForm" action="/merge-accounts-discord" method="post">
            <input type="hidden" name="decision" value="no">
            <button type="button" onclick="cancelMerge()">No, keep separate</button>
        </form>
    </div>
</body>
</html>

<script>
    document.getElementById('resolveConflictForm').addEventListener('submit', function(event) {
    const userConfirmation = confirm('Are you sure you want to merge these accounts? This action cannot be undone.');
    if (!userConfirmation) {
        event.preventDefault(); // Stop the form from submitting
    }
});

function cancelMerge() {
    const userConfirmation = confirm('Are you sure you do not want to merge these accounts?');
    if (userConfirmation) {
        document.getElementById('cancelMergeForm').submit();
    }
}
</script>