<!-- views/wheel.ejs -->
<%- include('layout', { title: 'Spin the Wheel', user: user}) %>
<link rel="stylesheet" href="/public/css/wheel.css">
<div id="wheel">
<div id="arcadeInfo">
    <div class="arcade-text">Player<br><br><br>
      <span id="usernameSpan">?</span>
      <span id="usernameSpan"><% user %></span>
    </div>
  <div id="jackpot">
    <h1 class="neon" data-text="U"><span class="flicker-slow">J</span>A<span class="flicker-fast">C</span>KP<span class="flicker-slow">O</span><span class="flicker-fast">T</span><br><br> PAT <span id="jackpotTotal">?</span></h1>
  </div>
      <div class="balance-display">Balance<br><br><br>
      <span id="userBalance">Loading balance...</span>
    </div>
</div>
  <div class="wheel-container">
    <canvas id="wheelCanvas" width="500" height="500"></canvas>
    <div id="resultContainer">
        <span id="resultText"></span>
    </div>
    <br>
    <div id="spinButton">
      <img id="coinslot" src="http://localhost:3000/public/coinslot.png"></img>
    </div>
    <br>
  </div>
</div>
  <script src="http://localhost:3000/public/script.js"></script>
