
html {
    background: var(--var-background-color);
    font-family: "Hack";
    font-size: 14px;
}

dt {
    font-weight: bold;
}

body {
    height: var(--var-max-height);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5vw;
    margin-right: 5vw;
}

header {
    font-family: ubuntu;
    color: #3CC47C;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#altlink p {
        font-family: ubuntu;
        color: #828081;
        margin-bottom: 20px;

}

/* unvisited link */
#altlink a:link {
  color: grey;
}

/* visited link */
#altlink a:visited {
  color: white;
}

/* mouse over link */
#altlink a:hover {
  color: white;
}

/* selected link */
#altlink a:active {
  color: hotpink;
}

.grid-root {
  display: grid;
  height: var(--var-max-height);
  margin: 0px 0px;
  max-height: var(--var-max-height);
  max-width: var(--var-max-width);
  width: var(--var-max-width);
}

.pretty-button {
    padding: 5px 10px;
}


#videoWrapper {
    height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
}

#videoOverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 3;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#videoElement {
    z-index: 1;
    position: relative;
    width: 100%;
}


#twitch_embed {
    grid-template-rows: 1fr;
    position: relative;
/*    padding-top: 1vh;*/
/*    max-height: calc(var(--var-max-height) - 10vh);*/
    min-width: 300px;
    min-height:  50vh;
    padding-bottom: 10vh;
}

#hidden {
    display: none;
    position: absolute;
    top: 54px;
    left: 0px;
    right: 0px;
    margin: 0px 0px 0px 5px;
    padding: 3px;
    background: var(--var-popout-color);
}

#chat {
    display: grid;
    grid-template-rows: 1.5em min-content 1fr 6em 2.5em 1em;
    grid-gap: 10px;
    margin: 0px 0px 0px 5px;
    overflow: auto;
    font-size: 12px;
}

#twitch_chat {
    margin: 0px 5px 0px 5px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: grid;
}

.tabs {
    display: flex;
    cursor: pointer;
    background-color: #333;
    margin: 0px 0px 0px 5px;
}

.tab {
    padding: 10px;
    color: white;
    background-color: #444;
    border: 1px solid #333;
    text-align: center;
    flex: 1;
}

.tab.active {
    background-color: #0F0F11;
}

/* ------------------- */
/* CONDITIONAL CLASSES */
/* ------------------- */

/* ------------- */
/* COMBINED MODE */
/* ------------- */
.combined {
  grid-template-columns: 5fr 1fr;
}

/* --------------- */
/* VIDEO ONLY MODE */
/* --------------- */
.video-only #videoElement {
/*  height: 90vh;*/
}

/* ---------------------- */
/* COMBINED MODE (MOBILE) */
/* ---------------------- */
@media screen and (max-width: 480px) {
  .combined {
    grid-template-columns: 1fr;
    grid-template-rows: 70.25vw 1fr;
  }

  .combined #pa_chatwindow {
    max-height: calc(var(--var-max-height) - 66.25vw);
  }
}

  .combined #twitch_embed {
    max-height: 90vh;
    padding-bottom: 10vh;
  }
}
