body {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    /* background-color: #282c34; */
    background-color: #0F0F11;
    color: rgb(255, 255, 255);
    margin: 0;
    font-family: ubuntu;
  }

form {
    background: none;
}

.link-button {
    background: none;
    border: none;
    color: rgb(109, 109, 109);
    cursor: pointer;
    font-size: 16px;
    font-family: ubuntu;
    margin-right: -20px;
}

.link-button:focus {
    outline: none;
}

.link-button:active {
    color:red;
}

.link-button:hover {
    color: white;
}

#logo {
    color: #3CC47C;
    font-weight: bold;
    font-size: 20px;
}

header {
    width: 100vw;
    font-family: ubuntu;
    align-items: center;
    background-color: #18181b;
    box-shadow: var(--shadow-elevation-1) !important;
    color: #3CC47C;
    margin-left: 0px;
    min-width: 600px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 20px;
}

.activePage {
    color: white;
    font-weight: bold;
}

.inactivePage {
    color: rgb(109, 109, 109);
}

.navbar a {
    text-decoration: none;
    margin-right: 20px; /* Space between nav items */
    font-size: 16px;
}

.navbar a:hover {
    color: #ffffff;
}

#registerlink {
    color: #ffffff;
    text-decoration: none;
}

#forgotpasswordlink {
    color: #888888;
    text-decoration: none;
}


.hidden {
    display: none;
}

.navbar-right {
    margin-right: -20px;
    display: flex; /* Ensures flexbox is used to layout the children */
}

.avatar {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.avatar img {
    width: 40px; /* Set the size of the avatar */
    height: 40px;
    margin-left: 10px; /* Adds some space between the Sign In link and the avatar */
}

input[type="text"],
input[type="password"] {
    padding: 8px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    background: #5c67f2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.panel {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: #18181b;
    padding: 10px 30px 30px 30px;
    margin-top: 30px;
}

.panel label {
    padding-top: 5px;
    margin-bottom: -5px;
}

.panel button {
    margin-top: 10px;
    margin-right: 20px;
    background-color: #3CC47C;
}