body {
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    margin: 0;
    font-family: 'Press Start 2P', cursive; /* Retro, pixelated font */

  }

  .header {
    width: 75vw;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px; /* Space between nav items */
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}

.nav-logo {
    font-weight: bold;
    font-size: 18px;
}

.navbar-right {
    display: flex; /* Ensures flexbox is used to layout the children */
    align-items: center; /* Vertically centers the items in the navbar */
}

.avatar img {
    width: 40px; /* Set the size of the avatar */
    height: 40px;
    border-radius: 50%; /* Circular avatar */
    border: 2px solid #fff; /* White border for the avatar */
    margin-left: 10px; /* Adds some space between the Sign In link and the avatar */
}